
.cssProgress {
    width: 90%;
    margin-bottom: 20px;
}

.cssProgress .progress2 {
    position: relative;
    overflow: hidden;
    width: 100%;
}

.cssProgress .cssProgress-bar {
    display: block;
    float: left;
    width: 0%;
    height: 100%;
    background: #3798d9;
    box-shadow: inset 0 -1px 2px rgba(0, 0, 0, .1);
    -webkit-transition: width 0.8s ease-in-out;
    transition: width 0.8s ease-in-out;
}

.cssProgress .cssProgress-label {
    position: absolute;
    overflow: hidden;
    left: 0;
    right: 0;
    color: #fff;
    font-size: 1.4em;
    text-align: center;
    font-weight: 700;
    text-shadow: 0 1px 1px #000000d6;
}

.cssProgress .cssProgress-success {
    background-color: #a766bb!important;
}

.cssProgress .cssProgress-stripes {
    background-image: -webkit-linear-gradient(135deg, rgba(255, 255, 255, .125) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, .125) 50%, rgba(255, 255, 255, .125) 75%, transparent 75%, transparent);
    background-image: linear-gradient(-45deg, rgba(255, 255, 255, .125) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, .125) 50%, rgba(255, 255, 255, .125) 75%, transparent 75%, transparent);
    background-size: 35px 35px;
}

.progress2 {
    background-color: #bfcbd4;
    border-radius: 13px;
    box-shadow: inset 0 1px 3px rgba(0, 0, 0, .5);
}

.progress2 .cssProgress-bar {
    height: 26px;
    border-radius: 13px;
}

.progress2 .cssProgress-label {
    line-height: 26px;
}

.cssProgress {
    width: 100%;
    margin-bottom: 20px;
    padding: 0 15px;
    margin-top: 15px;
}
